<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Platypus name: <%= platy.name %></p>   
<p>Added on: <%= platy.createdOn %></p>
<p>ID: <%= platy.id %></p>
<form action="/" method = "get">
    <input type="submit" value = "Show all Platypi">
</form>
</body>
</html>
